#altitude select {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
}

#altitude select:hover {
    background-color: #d6b893;
    border-color: #d6b893;
}

#boil-technique-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#boil-technique-buttons button {
    padding: 5px;
    border-radius: 5px;
}

#boil-technique-status {
    text-align: center;
    margin: 5px 0px 5px 0px;
}

h2 {
    font-weight: 300;
    font-size: 28px;
    margin: 0;
}

#help-popup #help-popup-gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

#help-popup div img {
    width: 60%;
}

#help-popup div .popup-header {
    display: flex;
    justify-content: space-between;
}

#help-popup div .popup-header img {
    width: 12%;
    object-fit: contain;
}

#help-popup div .popup-header img:hover {
    cursor: pointer;
}

#menu-popup > div {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 85%;
    background-color: var(--primary);
    margin: 0 35px 300px 35px;
    border-radius: 10px;
}

#menu-popup div .popup-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#menu-popup div .popup-header img {
    width: 12%;
    object-fit: contain;
}

#menu-popup div .popup-header img:hover {
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-option {
    border: 1px solid var(--secondary);
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.nav-option:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

.nav-option img {
    width: 10%;
    object-fit: contain;
}

#recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe {
    background-color: var(--secondary);
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
}

.recipe h3 {
    margin: 0;
    font-weight: 400;
}

.recipe p {
    margin: 2px;
}

#recipe-info-text {
    margin: 5px 20px 5px 20px;
}

#recipes-header {
    gap: 40px;
}

.recipe-link {
    display: flex;
    justify-content: flex-end;
}

.selected {
    background-color: var(--button-green);
    border: 1px solid var(--button-green);
}

.selected:active {
    transform: scale(0.95);
}

.selected:hover {
    background-color: var(--button-green-hover);
    border-color: var(--button-green-hover);
}

.setting {
    margin: 30px 20px 30px 20px;
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 10px;
}

.setting-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.setting-header h2 {
    font-size: 22px;
    margin: 0;
}

.setting-header img {
    width: 5%;
}

.setting-header p {
    margin: 2px;
}

#settings-help:hover {
    cursor: pointer;
}

#settings-menu:hover {
    cursor: pointer;
}

#settings-popup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    z-index: 1;
}

#settings-popup-header, #recipes-header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

#settings-popup-header button, #recipes-header button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 10px;
}

#settings-popup-header button:active, #recipes-header button:active {
    transform: scale(0.95);
}

#settings-popup-header button:hover, #recipes-header button:hover {
    background-color: var(--button-brown);
    cursor: pointer;
}

#settings-popup-header img, #recipes-header img {
    width: 12%;
}

#timer-done-popup, #help-popup, #menu-popup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer-done-popup div button {
    margin: auto;
    height: 45px;
    width: 50%;
    font-family: InstrumentSans;
    font-size: 18px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 10px;
}

#timer-done-popup div button:active {
    transform: scale(0.95);
}

#timer-done-popup div button:hover {
    background-color: var(--button-brown);
    cursor: pointer;
}

#timer-done-popup > div, #help-popup > div {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: var(--primary);
    margin: 0 35px 90px 35px;
    padding: 10px;
    border-radius: 10px;
}

#timer-done-popup div #thumbs-up-gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer-done-popup div div img {
    width: 70%;
}

#timer-done-popup p {
    font-size: 18px;
    text-align: center;
}

.unselected {
    background-color: var(--button-red);
    border: 1px solid var(--button-red);
}

.unselected:active {
    transform: scale(0.95);
}

.unselected:hover {
    background-color: var(--button-red-hover);
}