@font-face {
    font-family: InstrumentSans;
    src: url(../fonts/InstrumentSans-VariableFont_wdth\,wght.ttf);
}

:root {
    --primary: #F2D0A7;
    --secondary: #F29966;
    --button-green: mediumseagreen;
    --button-green-hover: #09992b;
    --button-red: tomato;
    --button-red-hover: #c40a0a;
    --button-brown: #A63F03;
    --select-hover: #d6875a;
}